.mat-form-field-appearance-outline {

  .mat-form-field-outline-thick, .mat-form-field-outline {
    color: #cbd5e1; /* slate-300 */
  }
  .mat-form-field-flex {
    border-radius: 0.5rem;
  }
  
  .mat-form-field-label {
    color: #64748b; /* slate-500 */
  }

  .mat-input-element, .mat-select-value-text {
    color: #1e293b; /* slate-800 */
  }
  .mat-select-arrow {
    color: #64748b; /* slate-500 */
  }
}

.mat-form-field-appearance-outline.mat-focused {
  .mat-form-field-outline-thick {
    color: #6366f1; /* indigo-500 */
  }
  .mat-form-field-label {
    color: #6366f1; /* indigo-500 */
  }
}