<mat-card>
  <mat-card-header>
    <mat-card-title>{{ title }}</mat-card-title>
  </mat-card-header>
  
  <mat-card-content>
    <div class="languages-form">
      <div *ngFor="let lang of languages" class="language-section">
        <div class="language-header">
          <span class="language-flag">{{ lang.flag }}</span>
          <span class="language-name">{{ lang.nativeName }} ({{ lang.name }})</span>
          <mat-icon *ngIf="isFieldComplete(lang.code)" class="check-icon" color="primary">check_circle</mat-icon>
        </div>
        
        <div class="input-wrapper">
          <label class="input-label">{{ fieldLabel }}</label>
          <input 
            type="text"
            class="simple-input"
            [(ngModel)]="formData[lang.code === 'ta' ? 'name_ta' : lang.code === 'si' ? 'name_si' : 'name_en']"
            (ngModelChange)="onFieldChange()"
            [placeholder]="'Enter ' + fieldLabel + ' in ' + lang.name"
          />
        </div>
        
        <div *ngIf="showDescription" class="description-field">
          <div class="input-wrapper">
            <label class="input-label">{{ descriptionLabel }}</label>
            <textarea 
              class="simple-textarea"
              [(ngModel)]="formData[lang.code === 'ta' ? 'description_ta' : lang.code === 'si' ? 'description_si' : 'description_en']"
              (ngModelChange)="onFieldChange()"
              [placeholder]="'Enter ' + descriptionLabel + ' in ' + lang.name"
              rows="3"
            ></textarea>
          </div>
        </div>
      </div>
    </div>
  </mat-card-content>
  
  <mat-card-actions *ngIf="showActions">
    <button mat-button (click)="onCancel()">Cancel</button>
    <button mat-raised-button 
            color="primary" 
            (click)="onSave()"
            [disabled]="!isFormValid()">
      {{ saveButtonText }}
    </button>
  </mat-card-actions>
</mat-card>

